<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
      <rule name="services" stopProcessing="true">
          <match url="^services/" />
          <action type="None" />
        </rule>
        <rule name="RewriteRules" stopProcessing="true">
          <match url=".*\.html|css/|img/|js/|data/|lib/|templates/|favicon.ico" negate="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors >
         <remove statusCode="404" />
         <error statusCode="404" path="/not_found_link.html" responseMode="ExecuteURL" />
      </httpErrors>
  </system.webServer>
</configuration>
<!--ProjectGuid: 36A9AD62-2C66-44C5-8D16-6C60F4B9E6E0-->