<div class="text-center logo mt-4">
  <img  src="../../../assets/images/logo-text.png" alt="">
</div>

<!-- ====================================================== -->
  <main class="ml-0 mr-0 mt-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto my-auto">
          <div class="card mb-4">
            <div class="card-body">

              <h2 class="mb-3 text_size">Management Information Systems Report</h2>
              <hr class="mt-0">

            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
